:root {
  --main-color-1: #f0f0f0;
  --main-color-2: #e4e8c6;
  --main-color-3: #c2d68b;
  --main-color-4: #80c2b2;
  --main-color-5: #9ddcce;
  --main-color-6: #b7e6d6;
}

body {
  background-color: #f0f2f5;
}